<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
</head>
<body>
    <h1>Detail</h1>
    <a href="{% url 'categories' target_category_pk %}">back</a>
    <h1>{{ target_article.topic }}</h1>
    <p>날짜 : {{ target_article.date }}</p>
    <p>작성자 : {{ target_article.author }}</p>
    <form action="{% url 'following' target_article.pk %}" method="POST">
        {% csrf_token %}
        {% if user in target_article.author.relationship.follower.all %}
        <button type="submit">unfollow</button>
        {% elif user == target_article.author  %}
        {% else %}
        <button type="submit">follow</button>
        {% endif %}
    </form>
    <pre>내용 : {{ target_article.content }}</pre>
    {% if not target_article.hashtag.all %}
    {% else %}
    <span>태그 : 
        {% for tag in target_article.hashtag.all %}
        <a href="{% url 'tag_article' tag.pk %}">#{{ tag.name }} </a> |

        {% endfor %}
    </span>
    {% endif %}
    <br>
    <br>
    {% if user == target_article.author %}
    <a href="{% url 'edit' target_article.pk %}">Edit</a>
    <a href="{% url 'delete' target_article.pk %}">Delete</a>
    {% endif %}
    <hr>
    <h1>Comments</h1>
    {% for comment in comments %}
    <span>날짜: {{ comment.date }}</span>
    <br>
    <br>
    <span>작성자: {{ comment.writer }}</span>
    <pre>{{ comment.content }}</pre>
    <span>좋아요 개수: {{ comment.like.member.all|length }}</span>
    <br>
    <form action="{% url 'like' comment.pk %}" method="POST">
        {% csrf_token %}
        {% if comment.writer == user %}
        {% elif user in comment.like.member.all %}
        <button type="submit">좋아요 취소</button>
        {% else %}
        <button type="submit">좋아요</button>
        {% endif %}
    </form>
    {% if user == comment.writer %}
    <a href="{% url 'comment_delete' comment.pk %}">Delete</a>
    {% endif %}
    <pre>--------------</pre>
    {% endfor %}
    {% if error.status == 'True' %}
    <h2>{{ error.msg }}</h2>
    {% endif %}
    <form action="{% url 'comment_add' target_article.pk %}" method="POST">
        {% csrf_token %}
        <label for="writer">Writer: </label>
        <input type="text" name="comment_writer" id="writer" value="{{ user.username }}" disabled>
        <br>
        <br>
        <textarea name="comment_content" cols="70" rows="10"></textarea>
        <button type="submit">Commit</button>
        <br>
    </form>
</body>
</html>