<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
</head>
<body>
    <h1>{{ target_article.topic }}</h1>
    <a href="{% url 'categories' target_category_pk %}">back</a>
    <p>날짜 : {{ target_article.date }}</p>
    <p>작성자 : {{ target_article.author }}</p>
    <p>내용 : {{ target_article.content }}</p>
    {% if user.username == target_article.author.username %}
    <a href="{% url 'edit' target_article.pk %}">Edit</a>
    <a href="{% url 'delete' target_article.pk %}">Delete</a>
    {% endif %}
</body>
</html>