<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
</head>
<body>
    <h1>{{ target_title.topic }}</h1>
    <a href="{% url 'categories' target_category_pk %}">back</a>
    <p>날짜 : {{ target_title.date }}</p>
    <p>작성자 : {{ target_title.author }}</p>
    <p>내용 : {{ target_title.content }}</p>
    <a href="{% url 'edit' target_title.pk %}">Edit</a>
    <a href="{% url 'delete' target_title.pk %}">Delete</a>
</body>
</html>