<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body>
    <h1>index</h1>
    <ul>
        {% for class in classes %}
            <li>{{ class.num }} 반 : {{ class.students_num }}</li>
        {% endfor %}
    </ul>
    <h2>categories</h2>
    <ul>
        {% for category in categories %}
            <li><a href="{% url 'categories' category.pk %}">{{category.name}}</a></li>
        {% endfor %}
    </ul>
</body>
</html>