<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body>
    <h1>index</h1>
    {% if user.is_authenticated %}
    <h2>{{ user.username }}님, 안녕하세요!</h2>
    <form action="{% url 'logout' %}" method="POST">
        {% csrf_token %}
        <button type="submit">Log out</button>
    </form>
    <form action="{% url 'mypage' %}" method="GET">
        <button type="submit">My page</button>
    </form>
    <h2>categories</h2>
    <ul>
        {% for category in categories %}
            <li><a href="{% url 'categories' category.pk %}">{{ category.name }}</a></li>
        {% endfor %}
    </ul>
    <!-- <a href="{% url 'add' 0 %}">Add</a> -->
    {% else %}
    <h2>로그인 해주세요</h2>
    <form action="{% url 'signup' %}" method="GET">
        <button type="submit">회원가입</button>
    </form>
    <form action="{% url 'login' %}" method="GET">
        <button type="submit">로그인</button>
    </form>
    {% endif %}
</body>
</html>